body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

.topbar {
    background-color: rgb(51, 25, 25);
    color: white;
    display: flex;
    text-decoration: underline;
    padding-left: 10px;
}

.topbar-links {
    overflow: hidden;
    margin: auto;
    margin-right: 0;
    max-width: max-content;
}

.topbar-links a {
    float: left;
    color: white;
    text-decoration: none;
    padding: 10px 16px;
    text-align: center;
    font-size: 15px;
}

.topbar-links a:hover {
    background-color: rgb(78, 49, 49);
    transition-duration: 400ms;
}

.margin-align {
    margin-left: auto;
    margin-right: auto;
}

.container-center {
    display: flex;
    justify-content: center;
    background-image: url("img/cup-of-coffee-1280537_1280.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    backdrop-filter: blur(10px);
    height: 100%;
}
/* .container-center img {
    position: absolute;
    width: 80%;
} */
.container-center div{
    z-index: 2;
}
.container-center .box{
    background-color: rgba(255, 255, 255, 0.3);
    margin: auto;
}